@import '../style/component/abstract/variaveis.scss';

.body {
    box-sizing: border-box;
    font-family: $font;
    background-color: $backgroundBody;
}


//------------------------------------------------------------------------


.container_icon--whatsapp {
    font-size: 32px;
    position: fixed;
    bottom: 1%;
    left: 4%;
    background-color: green;
    border-radius: 100%;
    text-align: center;
    width: 38px;
    height: auto;
    & > a {
        text-decoration: none;
        color: $white;
    }
}

.main_container.modal-open {
    position: fixed;
    overflow: hidden;
}


// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
@media (min-width: 620px) {
    
    .menu-bar--check ul > li > .fa-user {
        left: 2%;
    }
    
    .menu-bar--check ul > li > .fa-circle-nodes {
        left: 1%;
    }
    
    .menu-bar--check ul > li > .fa-phone-volume {
        left: 1%;
    }
    
    .menu-bar--check ul > li > .fa-arrow-right-from-bracket {
        left: 2%;
    }
}

// ----------------------------------------------
// (҂⌣̀_⌣́)ᕤ
@import '../style/component/cabecalho/header.scss';
@import '../style/component/cabecalho/section.scss';


// 
// 
// 
// 
//        ALINHAMENTO DE MEDIA QUERIES 
// 
//                POSITION FIXED
//               HEADER & SECTION
//            
//         FILTER E LIVROS DISPONIVEIS
// 
// 
// 
// 
// 

@media (max-width: 409px){
    .menu-filtered {
        right: 8%;
    }

    .section_container--h3{
        padding: 0.6rem 1.4rem;
    }

    .section_container--span-filter {
        margin-top: 3.8%;
        margin-left: -5%;
    }

    .section_container--span-filter-view {
        padding: 0.2rem 1.5rem;
    }
}

@media (min-width: 410px) and (max-width: 520px){

    .menu-filtered {
        right: 12%;
    }

    .section_container--h3{
        padding: 0.6rem 2.2rem;
    }

    .section_container--span {
        height: 100%;
    }

    .section_container--span-filter {
        margin-top: 3.6%;
        margin-left: -5%;
    }

    .section_container--span-filter-view {
        padding: 0.3rem 2rem;
        border-radius: 4px;
    }
}

@media (min-width: 521px) and (max-width:549px){

    .menu-filtered {
        right: 14%;
    }

    .section_container--span-filter {
        margin-top: 4%;
    }
}

@media (min-width: 550px){

    .header {
        width: 98%;
    }

    .menu-filtered {
        right: 17%;
    }

    .section_container--span-filter {
        margin-top: 3.4%;
    }
}

@media (min-width: 580px) {

    .section_container {
        width: 100%;
    }
}

@media (min-width: 660px){

    .header{
        width: 100%;
    }

    .menu-filtered {
        right: 16%;
    }

    .section_container--span-filter {
        margin-top: 2.8%;
    }
}


@media (min-width: 775px){

    .header{
        width: 100%;
    }

    .menu-filtered {
        right: 18%;
        & > ul {
            margin-top: 0.15rem;
        }
    }

    .section_container {
        width: 100%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 3.8%;
    }
}


@media (min-width: 1024px) {


    .section_container {
        width: 102%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 3.4%;
    }
}


@media (min-width: 1114px) {
    .menu-filtered {
        right: 19.5%;
    }

    .section_container {
        width: 102%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 3.1%;
    }
}

@media (min-width: 1280px){

    .menu-filtered {
        right: 20%;
    }
    .section_container {
        width: 102%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 2.6%;
    }
}

@media (min-width: 1430px) and (max-width: 1509px){

    .menu-filtered {
        right: 20%;
    }

    .section_container {
        width: 102%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 2.5%;
    }
}

@media (min-width: 1510px) and (max-width: 1670px){

    .menu-filtered {
        right: 21%;
    }

    .section_container {
        width: 102%;
    }

    .section_container--h3 {
        padding: 1rem 3.2rem;
    } 

    .section_container--span-filter {
        margin-top: 2.5%;
    }
}



// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ──▒▒▒▒▒────▄████▄─────
// ─▒─▄▒─▄▒──███▄█▀──────
// ─▒▒▒▒▒▒▒─▐████──█──█──
// ─▒▒▒▒▒▒▒──█████▄──────
// ─▒─▒─▒─▒───▀████▀─────
@import '../style/component/conteudoBody/main.scss';


//  ALINHAMENTO DE MEDIA QUERIES 
//
//        MAIN_CONTAINER 
//              & 
//      MAIN_CONTAINER--DIV (conteudo de exibição livros Disponiveis)
//
//  FILTER E LIVROS DISPONIVEIS

@media (max-width: 309px) {

    .main_container--div {
        width: 115px;
    }

    .main_container--div-information > p {
        font-size: 12px;
    }
    .main_container--div-information > small {
        padding-bottom: 0;
    }

    .main_container--div-information > span {
        margin-bottom: 10%;
    }

    .main_container--div-information > a {
        margin-top: 6%;
        font-size: 14px;
        padding: 0.3rem 0.2rem;
    }

    .section_container--span-filter {
        margin-top: 5.5%;
    }

    .section_container--span-filter-view {
        padding: 0.2rem 0.8rem;
    }
}


@media (min-width: 310px) and (max-width: 350px) {
    .main_container {
       gap: 2rem;
    }
    .main_container--div {
        width: 120px;
        margin-left: 2%;
    }

    .main_container--div-information > p {
        font-size: 12px;
    }

    .main_container--div-information > small {
        padding-bottom: 0;
    }

    .main_container--div-information > span {
        margin-bottom: 10%;
    }

    .main_container--div-information > a {
        margin-top: 6%;
        font-size: 14px;
        padding: 0.3rem 0.2rem;
    }

    .section_container--span-filter {
        margin-top: 5.5%;
    }

    .section_container--span-filter-view {
        padding: 0.2rem 0.8rem;
    }
}

@media (min-width: 350px) and (max-width: 374px){
    .main_container {
        gap: 35px;
    }
    
    .main_container--div {
        width: 140px;
        margin-left: 0;
    }
    
    .main_container--div-information > p {
        font-size: 12px;
    }

    .modal-content-informs {
        margin-top: 10%;
    }
}

@media (min-width: 376px) and (max-width: 419px){

    
    .main_container {
        gap: 6% 15%;
    }

    .main_container--div {
        max-width: 146px
    }

    .main_container--div-information > p {
        font-size: 17px;
    }
}


@media (min-width: 420px){
    
    .main_container {
        gap: 6% 10%;
    }


    .main_container--div {
        margin-left: 5%;
        width: 160px;
    }
    
    .main_container--div-information > p {
        font-size: 14px;
    }

    
    .main_container--div-information > span {
        margin-bottom: 12%;
    }

    .main_container--div-information > a {
        margin-top: 0;
        padding: 0.4rem 1rem;
        font-size: 14px;
    }

}


@media (min-width: 500px) and (max-width: 590px) {

    .main_container {
        grid-auto-rows: 42%;
        gap: 2% 0%;
    }

    .main_container--div {
        margin-left: 8%;
        width: 200px;
    }

    .main_container--div-img {
        padding-top: 6%;
        width: 60%;
        height: 40%;
    }

    .main_container--div-information > small {
        margin-top: 0.4rem;
        padding-bottom: 0;
        font-size: 13px;
    }

    .main_container--div-information > span{
        margin-bottom: 15%;
    }

    .main_container--div-information > a {
        padding: 0.4rem 1.8rem;
        margin-top: 5%;
    }
}

@media (min-width: 591px) {
    
    .main_container {
        grid-auto-rows: 380px;
        gap: 2% 0%;
    }

    .main_container--div {
        width: 225px;
    }

    .main_container--div-img {
        padding-top: 12%;
        width: 52%;
        height: 38%;
    }

    .main_container--div-information > p {
        padding-bottom: 0.6rem;
        padding-top: 1.4rem;
    }

    .main_container--div-information > small {
        font-size: 13px;
        margin-top: 1.5rem;
    }

    .main_container--div-information > span {
        margin-bottom: 15%;
    }

    .main_container--div-information > a {
        margin-top: -10%;
        padding: 0.4rem 1.8rem;
    }
}



@media (min-width: 620px) {
    
    .main_container {
        gap: 6% 2%;
    }

    .main_container--div {
        margin-left: 10%;
    }
}

@media (min-width: 704px) {

    .main_container--div {
        margin-left: 14%;
        width: 250px;
    }

    .main_container--div-information > p {
        font-size: 18px;
    }
}

@media (min-width: 770px) {

    .main_container {
        grid-auto-rows: 400px;
        border-radius: 55px;
        margin-top: 6%;
    }
    
    .main_container--div {
        width: 265px;
    }

    .main_container--div-information > a {
        margin-top: -5%;
        padding: 0.5rem 2.2rem;
    }
}

@media (min-width: 894px) {

    .main_container {
        grid-auto-rows: 465px;
    }

    .main_container--div {
        width: 280px;
    }

    .main_container--div-img {
        padding-top: 15%;
    }
}

@media (min-width: 960px) {

    .main_container {
        grid-auto-rows: 480px;
        gap: 35px;
    }

    .main_container--div {
        width: 310px;
    }

    .main_container--div-img {
        padding-top: 18%;
    }
}

@media (min-width: 1024px) {

    .main_container {
        grid-auto-rows: 520px;
        gap: 60px;
    }

    .main_container--div-information > p {
        font-size: 28px;
    }

    .main_container--div-information > small {
        font-size: 16px;
    }

    .main_container--div-information > span {
        font-size: 24px;
    }


    .main_container--div-information > a {
        margin-top: 10%;
        padding: 0.5rem 4rem;
    }
}


@media (min-width: 1223px) {

    .main_container {
        grid-auto-rows: 540px;
    }

    .main_container--div {
        width: 340px;
        margin-left: 18%;
    }

    .main_container--div-information > a {
        margin-top: 6%;
    }
}





// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// ╥﹏╥
@import '../style/component/conteudoBodyModal/modal.scss';
@import '../style/component/conteudoModal/aboutMe.scss';

//  ALINHAMENTO DE MEDIA QUERIES 
//
//        MODAL LIVROS
//              & 
//      MODAL SOBRE MIM
//

@media (max-width: 375px){
    
    .modal-content {
        width: 85%;
        height: 70%;
        &-informs {
            font-weight: bold;
        }
    }
}

@media (min-width: 376px) and (max-width: 439px){ 

    .modal-content {
        width: 290px;
        &-informs {
            margin-top: 10%;
        }
    }
}

@media (min-width: 510px) and (max-width: 590px) {

    .container_icon--whatsapp {
        font-size: 38px;
        width: 40px;
        bottom: 2%;
        left: 2%;
    }
}

@media (min-width: 1064px) {

    .modal-content {
        &-close {
            right: 35%; 
        }
    }
}


@media (min-width: 899px) {

    .container_icon--whatsapp {
        font-size: 54px;
        bottom: 2%;
        width: 56px;
    }
}




