@charset "UTF-8";
.body {
  box-sizing: border-box;
  font-family: Be Vietnam, sans-serif;
  background-color: #F1F1F1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #7E543A;
  padding: 15px 10px;
  position: fixed;
  z-index: 999;
  width: 96%;
}
.header_span--input {
  visibility: hidden;
}
.header_span--input-menu {
  margin-left: -30px;
  color: white;
  font-size: 24px;
  background-color: #714A32;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 0.5rem;
}

.header_span > i {
  padding: 0.5rem;
  background-color: #714A32;
  font-size: 22px;
  color: white;
  margin-right: -10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.header_div {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.menu-bar--check {
  position: absolute;
  background-color: #fff;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -100%;
  border-radius: 0 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  z-index: 990;
  transition: all 0.5s;
}
.menu-bar--check > h1 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.menu-bar--check ul > li {
  margin-top: 1.1rem;
  padding-top: 20px;
  text-align: center;
  height: 25px;
  background-color: #DBDBDB;
  justify-content: center;
  text-transform: uppercase;
  border-right: 3px solid #fff;
}
.menu-bar--check ul > li > .fa-user {
  position: absolute;
  left: 4%;
  font-weight: bold;
  margin-top: -2px;
}
.menu-bar--check ul > li > .fa-circle-nodes {
  position: absolute;
  left: 2%;
  font-size: 20px;
  font-weight: bold;
  margin-top: -2px;
}
.menu-bar--check ul > li > .fa-phone-volume {
  position: absolute;
  left: 2%;
  margin-top: -10px;
  border: 2px solid;
  border-radius: 14px;
  padding: 5px;
}
.menu-bar--check ul > li > .fa-arrow-right-from-bracket {
  position: absolute;
  left: 4%;
  font-size: 20px;
  font-weight: bold;
  margin-top: -2px;
}
.menu-bar--check ul > li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background: #fff;
}
.section_container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: #E9E9E9;
  width: 96%;
  padding: 1.2rem;
}
.section_container--span {
  text-align: center;
  background-color: #D9D9D9;
  height: 100%;
}
.section_container--span-filter {
  visibility: hidden;
  margin-top: 4.8%;
}
.section_container--span-filter-view {
  background: #EEEEEE;
  padding: 0.4rem 2rem;
  border-radius: 5px;
  font-weight: bold;
}
.section_container--h3 {
  color: #fff;
  background-color: #7E543A;
  padding: 0.6rem 3.2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-filtered {
  position: absolute;
  z-index: -1;
  top: -100%;
  right: 23.5%;
  transition: all 0.5s ease-out;
}

.section_div {
  display: block;
  font-size: 26px;
  margin-top: 1rem;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.section_div--span {
  line-height: 1.6;
}

.main_container.modal-open {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.main_container {
  position: absolute;
  z-index: -999;
  padding: 10% 5%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #E3E3E3;
  border-radius: 15px;
  height: auto;
  text-align: center;
  grid-auto-rows: 300px;
  width: 90%;
  gap: 35px;
}
.main_container--div {
  background-color: #D1D1D1;
}
.main_container--div-img {
  padding-top: 10%;
  width: 70%;
  height: 50%;
}
.main_container--div-information {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}
.main_container--div-information > p {
  padding-top: 0.4rem;
  letter-spacing: 1.3px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.main_container--div-information > small {
  padding-bottom: 0.2rem;
  margin-top: 0.4rem;
  font-size: 12px;
}
.main_container--div-information > span {
  font-size: 16px;
  color: #77401F;
  font-weight: bold;
  letter-spacing: 2.5px;
  margin-bottom: 10%;
}
.main_container--div-information > a {
  margin-top: 2%;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #F66910;
  border: 1px solid #FF8D46;
  background-color: white;
  text-decoration: none;
}

.container_icon--whatsapp {
  font-size: 36px;
  position: fixed;
  bottom: 1%;
  left: 4%;
  background-color: green;
  border-radius: 100%;
  text-align: center;
  width: 38px;
  height: auto;
}
.container_icon--whatsapp > a {
  text-decoration: none;
  color: #fff;
}

/* Classes de visibilidade */
.modal.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.7490196078);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Conteúdo do modal */
.modal-content {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 340px;
  height: 480px;
  min-height: 300px;
  border-radius: 1rem;
}
.modal-content-close { /* Botão de fechar do modal */
  position: absolute;
  grid-column: 4;
  top: 17%;
  padding: 2px 10px;
  right: 13%;
  font-size: 38px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
}
.modal-content > img {
  grid-column: 2/4;
  width: 100%;
  height: 240px;
  max-width: 200px;
}

.modal-content-informs {
  margin-top: 15%;
  text-align: center;
  grid-column: 1/5;
  font-weight: bold;
}
.modal-content-informs-title {
  line-height: 1.5;
  border-bottom: 1.1px solid #000;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.modal-content-informs-details {
  margin-bottom: 10%;
  text-align: justify;
  line-height: 1.6;
}
.modal-content-informs > a {
  background-color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 2rem;
  border: 1px solid #FF8D46;
}
.modal-content-informs > a > span {
  font-size: 16px;
  color: #F66910;
  text-transform: uppercase;
}
.modal-content-informs > a:hover {
  background-color: #FF8D46;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 2rem;
  border: 1px solid #000;
  transition: 0.2s all ease-out;
}
.modal-content-informs > a:hover > span {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 409px) {
  .menu-filtered {
    right: 16%;
  }
  .section_container--h3 {
    padding: 0.6rem 1.4rem;
  }
  .section_container--span-filter {
    margin-top: 3.8%;
    margin-left: -5%;
  }
  .section_container--span-filter-view {
    padding: 0.2rem 1.5rem;
  }
}
@media (min-width: 410px) and (max-width: 520px) {
  .menu-filtered {
    right: 18%;
  }
  .section_container--h3 {
    padding: 0.6rem 2.2rem;
  }
  .section_container--span {
    height: 100%;
  }
  .section_container--span-filter {
    margin-top: 4%;
    margin-left: -5%;
  }
  .section_container--span-filter-view {
    padding: 0.3rem 2rem;
    border-radius: 4px;
  }
}
@media (min-width: 521px) and (max-width: 549px) {
  .menu-filtered {
    right: 18%;
  }
  .section_container--span-filter {
    margin-top: 4%;
  }
}
@media (min-width: 550px) {
  .menu-filtered {
    right: 17%;
  }
  .section_container--span-filter {
    margin-top: 3.4%;
  }
}
@media (min-width: 580px) {
  .section_container {
    width: 100%;
  }
}
@media (min-width: 660px) {
  .header {
    width: 100%;
  }
  .menu-filtered {
    right: 20%;
  }
  .section_container--span-filter {
    margin-top: 2.8%;
  }
}
@media (min-width: 775px) {
  .header {
    width: 100%;
  }
  .menu-filtered {
    right: 21%;
  }
  .section_container {
    width: 100%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 3.8%;
  }
}
@media (min-width: 1024px) {
  .menu-filtered {
    right: 22%;
  }
  .section_container {
    width: 102%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 3.4%;
  }
}
@media (min-width: 1114px) {
  .menu-filtered {
    right: 21.5%;
  }
  .section_container {
    width: 102%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 3.1%;
  }
}
@media (min-width: 1280px) {
  .menu-filtered {
    right: 22%;
  }
  .section_container {
    width: 102%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 2.6%;
  }
}
@media (min-width: 1430px) and (max-width: 1509px) {
  .menu-filtered {
    right: 22.5%;
  }
  .section_container {
    width: 102%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 2.5%;
  }
}
@media (min-width: 1510px) and (max-width: 1670px) {
  .menu-filtered {
    right: 23%;
  }
  .section_container {
    width: 102%;
  }
  .section_container--h3 {
    padding: 1rem 3.2rem;
  }
  .section_container--span-filter {
    margin-top: 2.5%;
  }
}
@media (max-width: 375px) {
  .main_container {
    gap: 20px;
  }
  .main_container--div-information > p {
    font-size: 12px;
  }
  .main_container--div {
    width: 140px;
    margin-left: -4%;
  }
  .modal-content-informs {
    margin-top: 10%;
  }
}
@media (min-width: 376px) and (max-width: 419px) {
  .main_container {
    gap: 35px;
  }
  .main_container--div {
    max-width: 146px;
  }
  .main_container--div-information > p {
    font-size: 17px;
  }
}
@media (min-width: 420px) {
  .main_container {
    gap: 40px;
  }
  .main_container--div {
    margin-left: 5%;
    width: 160px;
  }
  .main_container--div-information > p {
    font-size: 14px;
  }
  .main_container--div-information > span {
    margin-bottom: 12%;
  }
  .main_container--div-information > a {
    margin-top: 0;
    padding: 0.4rem 1rem;
    font-size: 14px;
  }
}
@media (min-width: 500px) and (max-width: 590px) {
  .main_container {
    grid-auto-rows: 42%;
  }
  .main_container--div {
    margin-left: 8%;
    width: 200px;
  }
  .main_container--div-img {
    padding-top: 6%;
    width: 60%;
    height: 40%;
  }
  .main_container--div-information > small {
    margin-top: 0.4rem;
    padding-bottom: 0;
    font-size: 13px;
  }
  .main_container--div-information > span {
    margin-bottom: 15%;
  }
  .main_container--div-information > a {
    padding: 0.4rem 1.8rem;
    margin-top: 5%;
  }
}
@media (min-width: 591px) {
  .main_container {
    grid-auto-rows: 380px;
  }
  .main_container--div {
    width: 225px;
  }
  .main_container--div-img {
    padding-top: 12%;
    width: 52%;
    height: 38%;
  }
  .main_container--div-information > p {
    padding-bottom: 0.6rem;
    padding-top: 1.4rem;
  }
  .main_container--div-information > small {
    font-size: 13px;
    margin-top: 1.5rem;
  }
  .main_container--div-information > span {
    margin-bottom: 15%;
  }
  .main_container--div-information > a {
    margin-top: -10%;
    padding: 0.4rem 1.8rem;
  }
}
@media (min-width: 620px) {
  .main_container--div {
    margin-left: 10%;
  }
}
@media (min-width: 704px) {
  .main_container--div {
    margin-left: 14%;
    width: 250px;
  }
  .main_container--div-information > p {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  .main_container {
    gap: 50px;
    grid-auto-rows: 400px;
    border-radius: 55px;
    margin-top: 6%;
  }
  .main_container--div {
    width: 265px;
  }
  .main_container--div-information > a {
    margin-top: -5%;
    padding: 0.5rem 2.2rem;
  }
}
@media (min-width: 894px) {
  .main_container {
    grid-auto-rows: 465px;
  }
  .main_container--div {
    width: 280px;
  }
  .main_container--div-img {
    padding-top: 15%;
  }
}
@media (min-width: 960px) {
  .main_container {
    grid-auto-rows: 480px;
    gap: 35px;
  }
  .main_container--div {
    width: 310px;
  }
  .main_container--div-img {
    padding-top: 18%;
  }
}
@media (min-width: 1024px) {
  .main_container {
    grid-auto-rows: 520px;
    gap: 60px;
  }
  .main_container--div-information > p {
    font-size: 28px;
  }
  .main_container--div-information > small {
    font-size: 16px;
  }
  .main_container--div-information > span {
    font-size: 24px;
  }
  .main_container--div-information > a {
    margin-top: 10%;
    padding: 0.5rem 4rem;
  }
}
@media (min-width: 1223px) {
  .main_container {
    grid-auto-rows: 540px;
  }
  .main_container--div {
    width: 340px;
    margin-left: 18%;
  }
  .main_container--div-information > a {
    margin-top: 6%;
  }
}
@media (max-width: 375px) {
  .modal-content {
    width: 85%;
    height: 70%;
  }
  .modal-content-close {
    right: 10%;
    top: 15%;
  }
  .modal-content-informs {
    font-weight: bold;
  }
}
@media (min-width: 376px) and (max-width: 439px) {
  .modal-content {
    width: 290px;
  }
  .modal-content-close {
    right: 15%;
    top: 23%;
  }
  .modal-content-informs {
    margin-top: 10%;
  }
}
@media (min-width: 440px) {
  .modal-content-close {
    right: 18%;
    top: 23%;
  }
}
@media (min-width: 510px) and (max-width: 590px) {
  .modal-content-close {
    right: 23%;
  }
  .container_icon--whatsapp {
    font-size: 38px;
    width: 40px;
    bottom: 2%;
    left: 2%;
  }
}
@media (min-width: 591px) {
  .modal-content-close {
    right: 23%;
  }
}
@media (min-width: 620px) {
  .modal-content-close {
    right: 24%;
  }
}
@media (min-width: 690px) {
  .modal-content-close {
    right: 26%;
  }
}
@media (min-width: 739px) {
  .modal-content-close {
    right: 28%;
  }
}
@media (min-width: 789px) {
  .modal-content-close {
    right: 30%;
    top: 23%;
  }
}
@media (min-width: 869px) {
  .modal-content-close {
    right: 32%;
  }
}
@media (min-width: 899px) {
  .modal-content-close {
    right: 34%;
  }
  .container_icon--whatsapp {
    font-size: 54px;
    bottom: 2%;
    width: 56px;
  }
}
@media (min-width: 1064px) {
  .modal-content-close {
    right: 35%;
  }
}
@media (min-width: 1324px) {
  .modal-content-close {
    right: 38%;
  }
}/*# sourceMappingURL=style.css.map */