$shadowEffect: 0px 4px 4px 0px #00000040;
$brown: #7E543A;
$white: #fff;
$black: #000;
$backgroundBtn: #714A32;
$backgroundBtnMenuNav: #DBDBDB;
$font: Be Vietnam, sans-serif;

$backgroundBody: #F1F1F1;
$backgroundContainerMain: #E3E3E3;
$backgroundContainerBook: #D1D1D1;
$btnValueColor: #77401F;
$btnSaberMais: #F66910;
$btnBorderSaberMais: #FF8D46;

$backgroundSelect: #D9D9D9;
$backgroundBtnSelect: #EEEEEE;
$backgroundContainerSelect: #E9E9E9;




