@import '../abstract/variaveis.scss';
// style header
//  BTNS e cabecalho
.header {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: $brown;
    padding: 15px 10px;
    position: fixed;
    z-index: 999;
    width: 96%;
    &_span--input  {
        visibility: hidden;
        &-menu {
            margin-left: -30px;
            color: white;
            font-size: 24px;
            background-color: $backgroundBtn;
            box-shadow: $shadowEffect;
            padding: 0.5rem;
        }
    }
}

.header{
    &_span > i {
        padding: 0.5rem;
        background-color: $backgroundBtn;
        font-size: 22px;
        color: white;
        margin-right: -10px;
        box-shadow: $shadowEffect;
    }
}
.header_div {
    color: $white;
    font-weight: bold;
    font-size: 24px;
}



// style header 'componente' menu bar 
.menu-bar--check {
    position: absolute;
    background-color: $white;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -100%;
    border-radius: 0 4px;
    box-shadow: $shadowEffect;
    z-index: 990;
    transition: all .5s;
    & > h1 {
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    & ul > li {
        margin-top: 1.1rem;
        padding-top: 20px;
        text-align: center;
        height: 25px;
        background-color: $backgroundBtnMenuNav;
        justify-content: center;
        text-transform: uppercase;
        border-right: 3px solid $white;
        & > .fa-user {
            position: absolute;
            left: 4%;
            font-weight: bold;
            margin-top: -2px;
        }
        & > .fa-circle-nodes{
            position: absolute;
            left: 2%;
            font-size: 20px;
            font-weight: bold;
            margin-top: -2px;
        }
        & > .fa-phone-volume {
            position: absolute;
            left: 2%;
            margin-top: -10px;
            border: 2px solid;
            border-radius: 14px;
            padding: 5px;       
        }
        & > .fa-arrow-right-from-bracket {
            position: absolute;
            left: 4%;
            font-size: 20px;
            font-weight: bold;
            margin-top: -2px;
        }
        & a {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            color: black;
        }
    }
}

